.containerWinnerInfo {
    background-color: rgba(0, 0, 0, 0.448);
    font-family: 'Dosis', sans-serif;
    color: goldenrod;
    border: 1px solid goldenrod;
    margin: 8px auto;
    max-width: 600px;
}

.containerWinnerInfo h3 {
    margin: 16px;
    color: goldenrod;
    text-decoration: underline;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.personalInfos {
    display: flex;
    margin-left: 32px;
    flex-direction: column;
    align-items: center;
}

.personalInfos img {
    margin:16px 0;
    border-radius: 50%;
}